/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/********************************************RESET CSS****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
/********************************************************************MAINCSS**********/
/********************************NAVIGATION*****************/
body{
	background-color: #FFF7DF;
	color: #fff !important;
}

.navbar{
	background-color: #2D000D !important;
	height: 75px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	border: 0px !important;
}
.header-contacts > p{
	margin-top: 5px;
	font-size: 19px;
}
.header-contacts a{
	margin-top: 5px;
	font-size: 10px;
	text-decoration: none;
	color: #ccc;
	margin-left: 5px;
}
.header-contacts a:hover{
	color: #CC9999;
}
.nav > li > a{
	color: white !important;
	font-family: 'Roboto', sans-serif !important;
}
.nav > li > a:hover{
	color: #CC9999 !important;
}
/*******************************************************HEADER********************************************/
.jumbotron{
	height: 850px;
	background: url(../img/header_bg.png) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: -20px;
}
.header-text a{
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	border: 1px solid #fff;
	padding: 4px 4px;
	background-color: #2D000D;
	border-radius: 5px;
	font-weight: 700;
	margin-top: 150px;
}
.header-text a:hover{
	color: #CC9999;
}
.header-text p{
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
	margin-top: 100px;
}

/*****************************************MEDIAQUERIES***************/
@media screen and (min-width: 768px) and (max-width: 992px){
  .header-contacts{
    display: none;
  }
  .nav{

  }
}
@media screen and (max-width: 768px){
  .header-contacts{
    display: none;
  }
}

