/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/********************************************RESET CSS****************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
/********************************************************************MAINCSS**********/
/********************************NAVIGATION*****************/
body{
	background-color: #FFF7DF;
	color: #000 !important;
}

.navbar{
	background-color: #2D000D !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	border: 0px !important;
	opacity: 0.5;
}
a.nav-link {
    color: white !important;
}
a.nav-link:hover, a.nav-link>img{
	color: #CC9999 !important;
}
.navbar-toggler-icon{
	color: white !important;
}
/*
.header-contacts > p{
	margin-top: 5px;
	font-size: 19px;
	color: #fff;
}
.header-contacts a{
	margin-top: 5px;
	font-size: 10px;
	text-decoration: none;
	color: #ccc;
	margin-left: 5px;
}
.header-contacts a:hover{
	color: #CC9999;
}
.nav > li > a{
	color: white !important;
	font-family: 'Roboto', sans-serif !important;
}
.nav > li > a:hover{
	color: #CC9999 !important;
}
*/
/*******************************************************HEADER********************************************/

.jumbotron{
	height: 850px;
	background: url(../img/new_cake.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 0;
}
.jumbotron{
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
	/*margin-top: 100px;*/
}
.jumbotron p{
	margin-top: 270px;
}
.jumbotron a{
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	border: 1px solid #fff;
	padding: 4px 4px;
	background-color: #2D000D;
	border-radius: 5px;
	font-weight: 700;
	margin-top: 40px;
}
.jumbotron a:hover{
	color: #CC9999;
}

/*
.header-text a{
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	border: 1px solid #fff;
	padding: 4px 4px;
	background-color: #2D000D;
	border-radius: 5px;
	font-weight: 700;
	margin-top: 150px;
}
.header-text a:hover{
	color: #CC9999;
}
.header-text p{
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
	margin-top: 100px;
}
*/

/*******************************************************ADVANTAGES************************************************/
.adv p{
	font-size: 22px;
	font-weight: 600;
	font-family: 'PT+Sans', sans-serif !important;
	text-transform: uppercase;
}
.advantage p{

	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
}
.advantage button{
	color: #fff;
	font-size: 18px;
	background-color: #2D000D;
	cursor: pointer;
}
.advantage button:hover{
	background-color: #CC9999;
}
/*
.adv img{
	display: block;
	width: 70%;
	height: auto;
	margin:40px auto 30px;
}
.adv span{
	color: black;
	font-size: 17px;
	font-weight: 600;
	font-family: 'PT+Sans', sans-serif !important;
	text-transform: uppercase;
}
/*******************************************************END ADVANTAGES************************************************/



/******************************************************GALLERY**************************************/

.gallery{
	margin-top: 30px;
	border-top: 1px solid #2D000D;
	border-bottom: 1px solid #2D000D;
	padding-bottom: 20px;
}

.gallery p{
	color: #2D000D;
	font-size: 30px;
	font-weight: 700;
	word-spacing: 2px;
	letter-spacing: 5px;
	line-height: 15px;
	font-family: 'PT+Sans', sans-serif !important;
	text-transform: uppercase;
	margin-top: 50px;
}

#block-for-slider {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    /*position: relative;*/
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
	position: absolute;
	top: 150px;*/
    background-color: rgba(0,0,0,.2);
  	color: #f8f7f8;
  	font-size: 2.5em;
  	font-weight: bold;
}
.button {
  width: 64px;
  height: 64px;
  text-align: center;
  display: inline-block;
  margin-top: 80px;
  padding-top: 11px;
}
#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}
.gallery button{
	margin-top: 20px;
	width: 100%;
	background-color: #2D000D;
	color: #fff;
	font-size: 21px;
	text-transform: uppercase;
	height: 50px;
	margin-bottom: 20px;
	cursor: pointer;
}
.gallery button:hover{
	background-color: #CC9999;
}

/*****************************************END GALLERY*******************/
/******************************************MAKECAKE*********************/
.makecake p{
	color: #2D000D;
	font-size: 30px;
	font-weight: 700;
	word-spacing: 2px;
	letter-spacing: 5px;
	line-height: 15px;
	font-family: 'PT+Sans', sans-serif !important;
	text-transform: uppercase;
	margin-top: 50px;
}
.makecake button{
	margin-top: 114px;
	width: 100%;
	background-color: #2D000D;
	color: #fff;
	font-size: 21px;
	text-transform: uppercase;
	cursor: pointer;
}
.makecake button:hover{
	background-color: #CC9999;
}
/*****************************************CATEGORY************************/
.category p{
	font-size: 22px;
	font-weight: 600;
	font-family: 'PT+Sans', sans-serif !important;
	text-transform: uppercase;
	color: #2D000D; 
}
.cake span, .cupcake span, .honey-cake span, .merenga span {display: none; width: 200px; position: absolute; top: 50%; left: 36%}
.cake:hover span, .cupcake:hover span, .honey-cake:hover span, .merenga:hover span {display: block; color: #2D000D; font-size: 30px; font-weight: 700; word-spacing: 2px; letter-spacing: 5px; line-height: 15px; font-family: 'PT+Sans', sans-serif !important; text-transform: uppercase;}

.cake img:hover{
	opacity: 0.5;
}
.cupcake img:hover{
	opacity: 0.5;
}
.honey-cake img:hover{
	opacity: 0.5;
}
.merenga img:hover{
	opacity: 0.5;
}
/*****************************************ENDCATEGORY************************/

/******************************************END MAKECAKE*****************/
/******************************************FOOTER*****************/
.footer{
	background-color: #2D000D !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	border: 0px !important;
	opacity: 0.5;
	margin-top: 10px;
}
.footer ul li{
    color: white !important;
    background-color: #2D000D !important;
}
.footer ul li a{
	color: white !important;
}
.footer ul li a:hover{
	color: #CC9999 !important;
}
.footer h2{
	color: white;
	text-transform: uppercase;
	margin-top: 65px;
	padding-right: 10px;
	border: 1px solid #fff;
	height: 40px;
}
/*
footer a{
	color: #fff;
}

.footer-socials {
	margin-top: 10px !important;
}
.footer ul > li{
	padding-top: 12px;
	margin-left: 10px;
}
.footer ul> li > a{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	color: white !important;
	font-family: 'Roboto', sans-serif !important;
}
.google{
	margin-top: 10px;
	background-color: #fff;
	height: 70px;
}
.google h2{
	color: black;
}
*/
/******************************************END FOOTER*****************/
/*****************************************MEDIAQUERIES***************/
@media screen and (min-width: 768px) and (max-width: 992px){
  /*.header-contacts{
    display: none;
  }
  .button{
  	margin-top: -5px;
  }
  */
  #prev-btn, #next-btn {
	top: 70px;
	}
	
  .advantage button{
	margin-bottom: 10px;
	}
  .makecake button{
	margin-bottom: 10px;
	margin-top: 54px;
	}
	.makecake p{
	font-size: 20px;
	font-weight: 700;
	}
	.cake{
		margin-bottom: 20px;
	}
	.honey-cake{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 768px){
  #prev-btn, #next-btn {
	top: 30px;
	}
	
  .advantage button{
	margin-bottom: 10px;
	}
  .makecake button{
	margin-bottom: 10px;
	float: left;
	margin-top: 24px;
	}
  .makecake p{
	font-size: 18px;
	font-weight: 600;
	}
	.cake{
		margin-bottom: 20px;
	}
	.honey-cake{
		margin-bottom: 20px;
	}
}

